<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
   <%- include ../views/partials/_header.ejs %>
 </header>

  <ul>
    <% for(key in urls) {  %>
      <form action="/urls/<%= key %>/delete"  method="POST">
        <table>
          <tr>
            <td>
          <%= key %> - <%= urls[key] %> <button type="submit" name="delete">Delete</button>
            </td>
            </tr>
        </table>
        <a href="/urls/<%= key %>">Edit</a>
    </form>
  <% } %>
  </ul>
  <a href="/urls/new">Shorten Your Link Here!</a>


</body>
</html>
