<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
   <%- include ../views/partials/_header.ejs %>
 </header>

  <ul>

    <% for(key in urls) {  %>
      <form action="/urls/<%= key %>/delete"  method="POST">
        <li>
          <%= key %> - <%= urls[key].longURL %>
          <% if(user && user.id === urls[key].userId) { %>
            <button type="submit" name="delete">Delete</button>
            <a href="/urls/<%= key %>">Edit</a>
          <% } %>
        </li>
    </form>
  <% } %>
  </ul>
  <a href="/urls/new">Shorten Your Link Here!</a>


</body>
</html>
